<div class="row">
  <div class="col s12 m8 offset-m2 white pushdown green-text text-darken-2 z-depth-2">
    <div class="pad-idea">
      <h1 class="center">Create Idea</h1>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
