<h1>All Categories</h1>

<ul>
<% @categories.each do |category| %>
  <li> <%= link_to category.name, admin_category_path(category) %> </li>
<% end %>
</ul>

<%= link_to 'Add Category', new_admin_category_path %>
