
<div class="row">
  <% @images.each do |image| %>
    <div class="index_images col s3">
      <%= link_to image.name, idea_images_path(image_id: image.id), method: :post %><br>
      <%= link_to image_tag(image.link), idea_images_path(image_id: image.id), method: :post %>
    </div>
  <% end %>
</div>
